{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form method="post" class="p-3 shadow mx-auto" style="max-width: 400px; text-align: center;">
        {% csrf_token %}
        <h3 class="mb-3">Update Task</h3>

        <div class="mb-3 row">
            <label for="{{ form.name.id_for_label }}" class="col-sm-4 col-form-label">Name of the Task</label>
            <div class="col-sm-8">
                {{ form.name }}
            </div>
        </div>
        
        <div class="mb-3 row">
            <label for="{{ form.priority.id_for_label }}" class="col-sm-4 col-form-label">Priority</label>
            <div class="col-sm-8">
                {{ form.priority }}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="{{ form.date.id_for_label }}" class="col-sm-4 col-form-label">Date</label>
            <div class="col-sm-8">
                {{ form.date }}
            </div>
        </div>
        
        <div class="mb-3">
            <input type="submit" class="btn btn-success">
        </div>
    </form>
</div>
{% endblock %}
